auto-install-peers=false
strict-peer-dependencies=false
onlyBuiltDependencies[]=canvas
public-hoist-pattern[]=*radix-ui*
public-hoist-pattern[]=motion-dom
public-hoist-pattern[]=motion-utils
public-hoist-pattern[]=scheduler
public-hoist-pattern[]=use-sync-external-store
